<!DOCTYPE html>
<html>
  <head>
    <title>Foobario</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= Gon::Base.render_data %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
